<!-- DEFINE $CA_FORUMLIST = '1' -->
<!-- BEGIN forumrow -->
	<!-- IF (forumrow.S_IS_CAT and not forumrow.S_FIRST_ROW) or forumrow.S_NO_CAT -->
		</table>
		{$CA_BLOCK_END}
		<br />
	<!-- ENDIF -->

	<!-- IF forumrow.S_IS_CAT or forumrow.S_FIRST_ROW or forumrow.S_NO_CAT -->
	    {$CA_BLOCK_START}
		{$CA_CAP2_START}<!-- IF forumrow.S_IS_CAT --><h4><a href="{forumrow.U_VIEWFORUM}">{forumrow.FORUM_NAME}</a></h4><!-- ELSE -->{L_FORUM}<!-- ENDIF -->{$CA_CAP2_END}
		<table class="tablebg" cellspacing="{$CA_SPACING}" width="100%">
		<tr>
			<th colspan="2">&nbsp;{L_FORUM}&nbsp;</th>
			<th width="50">&nbsp;{L_TOPICS}&nbsp;</th>
			<th width="50">&nbsp;{L_POSTS}&nbsp;</th>
			<th width="175">&nbsp;{L_LAST_POST}&nbsp;</th>
		</tr>
	<!-- ENDIF -->
	
	<!-- IF not forumrow.S_IS_CAT -->
		<!-- IF forumrow.S_IS_LINK -->
			<tr>
				<td class="row1" width="31" align="center">{forumrow.FORUM_FOLDER_IMG}</td>
				<td class="row1">
					<!-- IF forumrow.FORUM_IMAGE or (S_ENABLE_FEEDS and forumrow.S_FEED_ENABLED) -->
						<table border="0" cellspacing="0" cellpadding="0" width="100%"><tr>
						<!-- IF forumrow.FORUM_IMAGE -->
                            <td valign="middle" style="padding-{S_CONTENT_FLOW_END}: 5px;">{forumrow.FORUM_IMAGE}</td>
						<!-- ENDIF -->
						<td width="100%" valign="middle">
					<!-- ENDIF -->
					<a class="forumlink" href="{forumrow.U_VIEWFORUM}">{forumrow.FORUM_NAME}</a>
					<p class="forumdesc">{forumrow.FORUM_DESC}</p>
					<!-- IF S_ENABLE_FEEDS and forumrow.S_FEED_ENABLED -->
					    </td>
                        <td valign="top" style="padding-{S_CONTENT_FLOW_BEGIN}: 2px;"><a title="{L_FEED} - {forumrow.FORUM_NAME}" href="{U_FEED}?f={forumrow.FORUM_ID}"><img src="{T_THEME_PATH}/images/feed.gif" alt="{L_FEED} - {forumrow.FORUM_NAME}" /></a>
					<!-- ENDIF -->
					<!-- IF forumrow.FORUM_IMAGE or (S_ENABLE_FEEDS and forumrow.S_FEED_ENABLED) --></td></tr></table><!-- ENDIF -->
				</td>
				<!-- IF forumrow.CLICKS -->
					<td class="row2" colspan="3" align="center"><span class="genmed">{L_REDIRECTS}: {forumrow.CLICKS}</span></td>
				<!-- ELSE -->
					<td class="row2" colspan="3" align="center">&nbsp;</td>
				<!-- ENDIF -->
			</tr>
		<!-- ELSE -->
		<tr>
			<td class="row1" width="31" align="center">{forumrow.FORUM_FOLDER_IMG}</td>
			<td class="row1">
				<!-- IF forumrow.FORUM_IMAGE or (S_ENABLE_FEEDS and forumrow.S_FEED_ENABLED) -->
					<table border="0" cellspacing="0" cellpadding="0" width="100%"><tr>
                    <!-- IF forumrow.FORUM_IMAGE -->
    					<td valign="middle" style="padding-{S_CONTENT_FLOW_END}: 5px;">{forumrow.FORUM_IMAGE}</td>
    			    <!-- ENDIF -->
                    <td width="100%" valign="middle">
				<!-- ENDIF -->
				<a class="forumlink<!-- IF forumrow.S_UNREAD_FORUM --> link-new<!-- ENDIF -->" href="{forumrow.U_VIEWFORUM}">{forumrow.FORUM_NAME}</a>
				<p class="forumdesc">{forumrow.FORUM_DESC}</p>
				<!-- IF forumrow.MODERATORS -->
					<p class="forumdesc"><strong>{forumrow.L_MODERATOR_STR}:</strong> {forumrow.MODERATORS}</p>
				<!-- ENDIF -->
				<!-- IF forumrow.SUBFORUMS and forumrow.S_LIST_SUBFORUMS -->
					<p class="forumdesc"><strong>{forumrow.L_SUBFORUM_STR}</strong> {forumrow.SUBFORUMS}</p>
				<!-- ENDIF -->
                <!-- IF S_ENABLE_FEEDS and forumrow.S_FEED_ENABLED -->
                    </td>
                    <td valign="top" style="padding-{S_CONTENT_FLOW_BEGIN}: 2px;"><a title="{L_FEED} - {forumrow.FORUM_NAME}" href="{U_FEED}?f={forumrow.FORUM_ID}"><img src="{T_THEME_PATH}/images/feed.gif" alt="{L_FEED} - {forumrow.FORUM_NAME}" /></a>
                <!-- ENDIF -->
                <!-- IF forumrow.FORUM_IMAGE or (S_ENABLE_FEEDS and forumrow.S_FEED_ENABLED) --></td></tr></table><!-- ENDIF -->
			</td>
			<td class="row2" align="center"><p class="topicdetails">{forumrow.TOPICS}</p></td>
			<td class="row2" align="center"><p class="topicdetails">{forumrow.POSTS}</p></td>
			<td class="row2" align="center" nowrap="nowrap">
				<!-- IF forumrow.LAST_POST_TIME -->
					<p class="topicdetails"><!-- IF forumrow.U_UNAPPROVED_TOPICS --><a href="{forumrow.U_UNAPPROVED_TOPICS}">{UNAPPROVED_IMG}</a>&nbsp;<!-- ENDIF -->{forumrow.LAST_POST_TIME}</p>
					<p class="topicdetails">{forumrow.LAST_POSTER_FULL}
						<!-- IF not S_IS_BOT --><a href="{forumrow.U_LAST_POST}">{LAST_POST_IMG}</a><!-- ENDIF -->
					</p>
				<!-- ELSE -->
					<p class="topicdetails">{L_NO_POSTS}</p>
				<!-- ENDIF -->
			</td>
		</tr>
		<!-- ENDIF -->
	<!-- ENDIF -->
	<!-- IF forumrow.S_LAST_ROW -->
		<!-- IF not S_IS_BOT and U_MARK_FORUMS -->
		<tr>
			<td colspan="5" class="cat" align="center">
				<a href="{U_MARK_FORUMS}">{L_MARK_FORUMS_READ}</a>
			</td>
		</tr>
		<!-- ENDIF -->
		</table>
		{$CA_BLOCK_END}
	<!-- ENDIF -->
<!-- BEGINELSE -->
{$CA_CAP2_START}{L_MESSAGE}{$CA_CAP2_END}
<table class="tablebg" cellspacing="{$CA_SPACING}" width="100%">
<tr>
	<td class="row1" colspan="5" align="center" style="padding: 25px 5px;"><p class="gensmall">{L_NO_FORUMS}</p></td>
</tr>
</table>
<!-- END forumrow -->
