<div id="ca-qr" style="display: none;">
<form id="postform" method="post" action="{U_QR_ACTION}">
{$CA_BLOCK_START}
{$CA_CAP2_START}{L_QUICKREPLY}{$CA_CAP2_END}
<table class="tablebg" width="100%" cellspacing="{$CA_SPACING}">
		<tr>
			<td class="row1" width="22%"><b class="genmed">{L_SUBJECT}:</b></td>
			<td  class="row2" width="78%"><input class="post" style="width:450px" type="text" name="subject" size="45" maxlength="64" tabindex="2" value="{SUBJECT}" /></td>
		</tr>
		<tr>
			<td class="row1" width="22%"><b class="genmed">{L_MESSAGE}:</b></td>
			<td class="row2" valign="top" align="left" width="78%">

				<script type="text/javascript">
				// <!--
					var form_name = 'postform';
					var text_name = 'message';
				// -->
				</script>

				<table width="100%" cellspacing="0" cellpadding="0" border="0">
				<!-- INCLUDE posting_buttons.html -->
				<tr>
					<td valign="top" style="width: 100%;"><textarea name="message" rows="12" cols="76" tabindex="3" onselect="storeCaret(this);" onclick="storeCaret(this);" onkeyup="storeCaret(this);" onfocus="initInsertions();" style="width: 98%;">{MESSAGE}</textarea></td>
					<!-- IF S_BBCODE_ALLOWED -->

					<td width="80" align="center" valign="top">
						<script type="text/javascript">
						// <!--
							colorPalette('v', 7, 6)
						// -->
						</script>
					</td>
					<!-- ENDIF -->
				</tr>
				</table>

			</td>
		</tr>
		<tr>
			<td class="cat" colspan="2" align="center">
				<input class="btnmain" type="submit" accesskey="s" tabindex="6" name="post" value="{L_SUBMIT}" />&nbsp;
				<input class="btnlite" type="submit" accesskey="f" tabindex="7" name="full_editor" value="{L_FULL_EDITOR}" />

				{S_FORM_TOKEN}
				{QR_HIDDEN_FIELDS}
			</td>
		</tr>
</table>
{$CA_BLOCK_END}
</form>
<br clear="all" />

</div>