<!-- INCLUDE ucp_header.html -->

<div id="pagecontent">

<!-- INCLUDE ucp_pm_message_header.html -->
<div style="padding: 2px;"></div>

<div style="padding: 2px;"></div>

{$CA_BLOCK_START}
{$CA_CAP2_START}{L_MESSAGE}{$CA_CAP2_END}
<table class="tablebg" width="100%" cellspacing="{$CA_SPACING}" cellpadding="0">
<tr>
	<td class="row1 genmed" nowrap="nowrap" width="150"><b>{L_PM_SUBJECT}:</b></td>
	<td class="row1 gen">{SUBJECT}</td>
</tr>

<tr>
	<td class="row1 genmed" nowrap="nowrap" width="150"><b>{L_PM_FROM}:</b></td>
	<td class="row1 gen">{MESSAGE_AUTHOR_FULL}</td>
</tr>

<tr>
	<td class="row1 genmed" nowrap="nowrap" width="150"><b>{L_SENT_AT}:</b></td>
	<td class="row1 gen">{SENT_DATE}</td>
</tr>

<!-- IF S_TO_RECIPIENT -->
	<tr>
		<td class="row1 genmed" nowrap="nowrap" width="150"><b>{L_TO}:</b></td>
		<td class="row1 gen">
		<!-- BEGIN to_recipient -->
			<!-- IF to_recipient.IS_GROUP --><span class="sep"><a href="{to_recipient.U_VIEW}">{to_recipient.NAME}</a></span><!-- ELSE -->{to_recipient.NAME_FULL}&nbsp;<!-- ENDIF -->
		<!-- END to_recipient -->
		</td>
	</tr>
<!-- ENDIF -->

<!-- IF S_BCC_RECIPIENT -->
	<tr>
		<td class="row1 genmed" nowrap="nowrap" width="150"><b>{L_BCC}:</b></td>
		<td class="row1 gen">
		<!-- BEGIN bcc_recipient -->
			<!-- IF bcc_recipient.IS_GROUP --><span class="sep"><a href="{bcc_recipient.U_VIEW}">{bcc_recipient.NAME}</a></span><!-- ELSE -->{bcc_recipient.NAME_FULL}&nbsp;<!-- ENDIF -->
		<!-- END bcc_recipient -->
		</td>
	</tr>
<!-- ENDIF -->
<tr>
	<td class="row1" valign="top" colspan="2">
		<div style="float: {S_CONTENT_FLOW_END}"> 
			<!-- IF U_QUOTE --><a href="{U_QUOTE}">{QUOTE_IMG}</a> <!-- ENDIF -->
			<!-- IF U_EDIT --><a href="{U_EDIT}">{EDIT_IMG}</a> <!-- ENDIF -->
		    <!-- IF U_REPORT --><a href="{U_REPORT}">{REPORT_IMG}</a> <!-- ENDIF -->
			<!-- IF U_DELETE --><a href="{U_DELETE}">{DELETE_IMG}</a> <!-- ENDIF -->
		</div>

		<div class="postbody">{MESSAGE}</div>

				<!-- IF S_HAS_ATTACHMENTS -->
					<br clear="all" /><br />
							
					<div class="attachwrapper"><div class="attachtitle">{L_ATTACHMENTS}:</div>
					<!-- BEGIN attachment -->
					<div class="attachcontent">{attachment.DISPLAY_ATTACHMENT}</div>
					<!-- END attachment -->
					</div>
				<!-- ENDIF -->

				<!-- IF S_DISPLAY_NOTICE -->
					<span class="gensmall error"><br /><br />{L_DOWNLOAD_NOTICE}</span>
				<!-- ENDIF -->
				<!-- IF SIGNATURE -->
					<span class="postbody signature"><br />_________________<br />{SIGNATURE}</span>
				<!-- ENDIF -->
				<!-- IF EDITED_MESSAGE -->
					<span class="gensmall">{EDITED_MESSAGE}</span>
				<!-- ENDIF -->

				<!-- IF not S_HAS_ATTACHMENTS --><br clear="all" /><br /><!-- ENDIF -->

	</td>
</tr>
</table>
{$CA_BLOCK_END}

<!-- IF U_POST_REPLY_PM --><div style="text-align: {S_CONTENT_FLOW_END}; margin-top: 3px;"><a href="{U_POST_REPLY_PM}">{REPLY_IMG}</a></div><!-- ENDIF -->

<div style="padding: 2px;"></div>
<!-- INCLUDE ucp_pm_message_footer.html -->

<br clear="all" />

</div>

<!-- IF S_DISPLAY_HISTORY --><!-- INCLUDE ucp_pm_history.html --><!-- ENDIF -->

<!-- INCLUDE ucp_footer.html -->
